<!DOCTYPE>
<html xmlns:th="http:www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <b>Enter User Details</b>
</head>
<body>
<form action="#" th:action ="@{/createUser}" th:object="${user}" method="post">
    <div>
        <label>First Name</label>
        <input type = "text" th:field="*{firstname}"/>
    </div>
    <div>
        <label>Last Name</label>
        <input type = "text" th:field="*{lastname}"/>
    </div>
    <div>
        <label>Email</label>
        <input type = "text" th:field="*{email}"/>
    </div>
    <div>
        <label>Feedback</label>
        <input type = "text" th:field="*{feedback}"/>
    </div>
    <div>
        <input type = "hidden" th:field="*{id}">
    </div>
    <div>
        <input type="submit" value ="SUBMIT">
    </div>
</form>

</body>
</html>